body {
  font-size: 16px;
  font-family: "Be Vietnam", sans-serif;
  padding: 0;
  margin: auto;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
}
h1,
h2,
h3,
h4 {
  color: hsl(228, 39%, 23%);
}
p {
  color: hsl(227, 12%, 61%);
}
.header {
  margin: 50px 150px 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 150px;
}
.header img {
  width: 148px;
  height: 30px;
  margin-top: 18px;
}
.header-text {
  display: flex;
  text-align: center;
  margin: auto;
}
.header-button {
  border: 1px solid;
  height: 20px;
  text-decoration: none;
  color: white;
  background: hsl(12, 88%, 59%);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 13.33px;
}
.header-text a {
  padding: 0 20px;
  text-decoration: none;
  color: hsl(228, 39%, 23%);
}
.hero {
  display: flex;
  margin: 0 150px 100px;
}
.hero-content {
  width: 50%;
}
.hero-content h1 {
  font-weight: 700;
  font-size: 50px;
  max-width: 500px;
}
.hero-content p {
  max-width: 350px;
  margin-bottom: 50px;
}
.hero-content a {
  border: 1px solid;
  height: 20px;
  text-decoration: none;
  color: white;
  background: hsl(12, 88%, 59%);
  padding: 10px 30px;
  border-radius: 20px;
}
.manage {
  display: flex;
  margin: 0 150px 100px;
}
.administrator {
  width: 50%;
}
.administrator h2 {
  font-size: 38px;
  max-width: 500px;
  margin-top: 0;
}
.administrator p {
  max-width: 350px;
}
.manage-right {
  display: flex;
  width: 50%;
}
.atributes-1 {
  display: flex;
}
.atributes-1 button {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 19px;
  border-radius: 18px;
  border: 0;
  background: hsl(12, 88%, 59%);
  color: white;
  font-size: 15px;
}
.atributes-1 p {
  max-width: 440px;
}
.atributes-2 {
  display: flex;
}
.atributes-2 button {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 19px;
  border-radius: 18px;
  border: 0;
  background: hsl(12, 88%, 59%);
  color: white;
  font-size: 15px;
}
.atributes-2 p {
  max-width: 440px;
}
.atributes-3 {
  display: flex;
}
.atributes-3 button {
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 19px;
  border-radius: 18px;
  border: 0;
  background: hsl(12, 88%, 59%);
  color: white;
  font-size: 15px;
}
.atributes-3 p {
  max-width: 440px;
}
.testimonio-title {
  margin: auto;
  display: block;
  width: 260px;
  font-size: 20px;
}
.testimonio-container {
  display: flex;
  text-align: center;
  scroll-snap-type: x mandatory;
}
.caja {
  padding: 40px 20px;
  margin: 30px;
  scroll-snap-align: center;
}
.caja img {
  width: 80px;
  position: relative;
  top: 50px;
}
.caja-content {
  height: 200px;
  margin: auto;
  width: 500px;
  padding-top: 40px;
  height: 180px;
  background: hsl(0, 0%, 98%);
}
.caja-content p {
  width: 450px;
  margin: auto;
}

.testimonio-button a {
  display: block;
  margin: 50px auto;
  width: 88px;
  border: 1px solid;
  height: 20px;
  text-decoration: none;
  color: white;
  background: hsl(12, 88%, 59%);
  padding: 10px 30px;
  border-radius: 20px;
}
.footer-top {
  background: hsl(12, 88%, 59%);
}
.top {
  margin: auto 150px;
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.top h2 {
  margin: auto 0;
  font-size: 38px;
  width: 450px;
  color: white;
}
.top a {
  width: 88px;

  height: 20px;
  text-decoration: none;
  color: hsl(12, 88%, 59%);
  background: white;
  padding: 10px 30px;
  border-radius: 20px;
  margin: auto 0;
}
.footer-buttom {
  background: hsl(233, 12%, 13%);
}
.buttom {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.buttom p {
  color: white;
  margin-top: 0;
}
.fab {
  color: white;
  margin: 0 5px;
  margin-top: 95px;
}
.buttom input {
  padding: 15px 30px;
  border-radius: 20px;
  border: 0;
  text-align: left;
  margin-right: 10px;
}
.buttom a {
  padding: 13px 20px;
  background: hsl(12, 88%, 59%);
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
